<div class="container">
  <h1> HOME</h1>
  <h3>📦 Lista de productos</h3>

  <ul id="productList">
    {{#each products}}
      <li id="productList" >{{this.title}} - ${{this.price}}</li>
    <p><strong>Categoría:</strong> {{this.category}}</p>

      <a href="/products/{{this._id}}">Ver detalles</a>
      <button class="addToCart" data-id="{{this._id}}">Agregar al carrito</button>
    </div>
  {{/each}}
</div>

<div class="container">
  {{#each links}}
    <a href="{{this.link}}">{{this.text}}</a>
  {{/each}}

</div>
<script>
  const cartId = "{{cartId}}";
  document.querySelectorAll(".addToCart").forEach(button => {
    button.addEventListener("click", async () => {
      const pid = button.getAttribute("data-id");
      try {
        const res = await fetch(`/api/carts/${cartId}/product/${pid}`, {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({ quantity: 1 })
        });
        const data = await res.json();
        if (res.ok) alert("Producto agregado");
        else alert(data.message);
      } catch (err) {
        alert("Error al agregar");
      }
    });
  });
</script>

<link rel="stylesheet" href="/css/styles.css" />
